{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>BpTT Questions</title>

        
        <!-- Base Css File -->
        <link href='{% static "css/base.css" %}' rel="stylesheet">

        <!-- Bootstrap Core CSS -->
        <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

        <!-- Custom Fonts -->
        <link href='{% static "font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery-1.12.4.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script> 
</head>

<body>
{% block 1%}







{%endblock%}



</body>

</html>