{%extends "base.html"%}
{% load staticfiles %}
{% load crispy_forms_tags %}

{%block title%}Town Hall - Webcast{%endblock%}

{%block 1%}
    <div class="webcast-content-section">
        <div class="container-fluid">
            <div class="webcast-content">
                <div class="webcast-media">
                    <a href=""><img src='{% static  "img/1.jpg" %}' alt=""></a>
                    <a href=""><img src='{% static  "img/2.jpg" %}' alt=""></a>
                </div>
		<form method = 'POST' action =''>{% csrf_token %}
                <div class="input-section">
                    <div class="input-field-left">
                        <input type="text" name="name" placeholder="Name" class="name-input">
                        <input type="text" name="question" placeholder="Question" class="question-input">
                    </div>
                    <div class="input-field-right">
        		<button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
                    </div>
                </div>
            </div>
          </form>
        </div>
    </div>

{%endblock%}
