{%extends "base.html"%}
{% load staticfiles %}
{% load crispy_forms_tags %}

{%block title%}<center><h1><b>Moderator</b></h1></center>{%endblock%}

{%block 1%}

    <div class="webcast-content-section">
        <div class="container-fluid">
            <div class="webcast-content">
                <h2>Question Details</h2>
                <table class="table-responsive incoming-question">
                    <tr>
                        <th>Number</th>
                        <th>{{modview.id}}</th>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td>{{modview.time}}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{modview.name}}</td>
                    </tr>
                    <tr>
                        <td>Question</td>
                        <td>{{modview.question}}</td>
                    </tr>
                </table>
                <div class="incoming-button">
		<form method = 'POST' action =''>{% csrf_token %}
			<input type="button" class="btn btn-success btn-block btn-lg" value="Back" onclick="javascript:history.go(-1);" class="btn btn-primary"/>
		</form>
		<form method = 'GET' action ="deletequest">{% csrf_token %}
			<button type="submit" class="btn btn-success btn-block btn-lg">Delete</button>
		</form>

                </div>
            </div>
        </div>
    </div>
{%endblock%}
